  <div class="w-full p-2">
    <button
      data-action="click->column-settings#showNewTaskModal"
      data-modal-target="modal"
      data-modal-id-param="new_task_modal_<%= column.id %>"
      data-column-editor-target="newTaskButton"
      class="cursor-pointer w-full p-4 rounded-md bg-base-100 shadow-sm transition border border-base-200 hover:shadow-md hover:border-base-300 transition flex items-center gap-2 justify-center"
    >
      <i class="fa-solid fa-plus text-sm"></i> Adicionar nova tarefa
    </button>
  </div>