<div class="flex items-center justify-between mb-2">
  <div class="flex items-center gap-2">
    <%= render 'columns/column_editor', column: column %>
  </div>

  <div>
    <button
      class="text-sm text-error hover:bg-error/10 transition p-2 rounded"
      data-action="click->column-settings#confirmDelete"
      title="Excluir coluna"
    >
      <i class="fa-solid fa-trash"></i>
    </button>
  </div>
</div>
