<div id="<%= "#{taggable.class.name.downcase}_#{taggable.id}_tag_form" %>" 
     class="mt-1 hidden flex items-center gap-1" 
     data-tag-editor-target="form">
  <input type="text" 
         placeholder="Nome da tag..." 
         class="input input-xs input-bordered w-24" 
         data-tag-editor-target="input">
  
  <button type="button" 
          class="btn btn-xs btn-ghost p-1 text-success hover:text-success"
          data-action="click->tag-editor#addTag">
    <i class="fa-solid fa-check"></i>
  </button>
  
  <button type="button" 
          class="btn btn-xs btn-ghost p-1 text-error hover:text-error"
          data-action="click->tag-editor#cancelForm">
    <i class="fa-solid fa-times"></i>
  </button>
</div>

<div id="<%= "#{taggable.class.name.downcase}_#{taggable.id}_tag_errors" %>"></div>