<% content_for :title, "Boards" %>
<div class="container mx-auto">
  <h1 class="text-4xl font-bold mb-6">Painel de Tarefas</h1>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <%= render partial: 'boards/board_card', collection: @boards, as: :board %>
    <%= render 'boards/new_board_button' %>
  </div>
</div>

<%= render 'boards/new_board_modal', board: Board.new %>
