<aside class="w-64 bg-base-100 shadow-lg h-full p-4">
  <h2 class="text-2xl font-bold mb-6 text-center">ToDoThat</h2>
  <ul class="menu menu-compact">
    <li>
      <%= link_to "Home", "#", class: "text-lg hover:bg-base-300 rounded" %>
    </li>
    <li>
      <%= link_to "Board", "#", class: "text-lg hover:bg-base-300 rounded" %>
    </li>
  </ul>
</aside>